.cent-symbol {
    margin-left: -3px;
}

/* Blue buttons and orange buttons i.e the continue, create, generate and reset buttons */
.blue-button[disabled] {
    background-color: rgba(0, 0, 0, 0.25);
}

.blue-button[disabled]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* Style for the Offer Catalog and Profile Manager links */
.link-wrapper {
    width: 180px;
    margin-bottom: 15px;
}

.pm-link {
    margin-top: 20px;
}

.link-content-wrapper {
    cursor: pointer;
    cursor: hand;
    align-items: center;
}

.offer-catalog-icon-wrapper {
    background-color: #9B1D41;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.offer-catalog-icon, .profile-manager-icon {
    width: 20px;
    height: 20px;
}

.link-text {
    font-size: 16px;
    margin-left: 15px;
    color: #9B1D41;
}

.offer-catalog-tab-icon {
    color: #9B1D41;
    font-size: 15px;
    width: 15px;
    height: 15px;
    min-width: 0px;
    min-height: 0px;
    margin: 0 0 2px 4px;
}

.profile-manager-icon-wrapper {
    background-color: #093791;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.profile-manager-link-text {
    font-size: 16px;
    margin-left: 15px;
    color: #093791;
}

.profile-manager-tab-icon {
    color: #093791;
    font-size: 15px;
    width: 15px;
    height: 15px;
    min-width: 0px;
    min-height: 0px;
    margin: 0 0 2px 4px;
}

.oc-link-description {
    margin-top: 20px;
    margin-bottom: 26px;
}

.test-menu md-icon {
    background-color: rgba(202, 212, 222, 1);
}
