/*  TODO: Add white border to restart button when it's hovered over. Disable border while components are restarting.
    TODO: Center cards so there's equal space on either side no matter how many cards are in a row
    TODO: Organise CSS so it's more readable  */

body {
    background-attachment: fixed;
    overflow: auto;
    min-height: 0%;
    height: auto;
    width: auto;
    font-family: roboto;
    line-height: 1.13;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

md-icon {
    margin: 0px;
}

md-card {
    background-color: rgba(0, 0, 0, 0);
    height: 244px;
    width: 180px;
    margin: 3.5px;
    cursor: hand;
    cursor: pointer;
}

md-card:focus {
    outline: none;
    border: 0;
 }

.enabled:hover {
    cursor: hand;
    outline: solid 1px rgba(255, 255, 255, 0.6);
 }

md-card md-card-title {
    background-color: rgba(0, 0, 0, 0.32);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

md-card md-card-content {
    height: 108px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

md-card md-card-title+md-card-content {
    padding: 16px;
}

.mdl-menu {
    margin-right: 64px;
    width: 250px;
}

.mdl-menu__outline {
    margin-left: -64px;
    width: 250px;
    border-top-right-radius: 0px;
}

/* Blue buttons and orange buttons i.e the continue, create, generate and reset buttons */
.blue-button {
    background-color: #56a0d5;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 0px;
    padding: 0 12px 0 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.blue-button:hover, .blue-button:hover:not([disabled]), .blue-button.md-focused, .blue-button.md-focused:not([disabled]) {
    background-color: #56a0d5;
}

.blue-button[disabled], .blue-button[disabled]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}


dialog {
    position: fixed !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
}

.mdl-dialog{
    width: 600px;
}

.component-menu-list-item {
    justify-content: space-between;
    align-items: center;
    margin: 5px 16px 5px 16px;
}

.coomponent-name {
    font-size: 14px;
}

.component-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.md-headline {
    color: #fff;
    margin-left: 2px;
}

.use-case-icon {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.dividing-line {
    border-top-color: rgba(255, 255, 255, .24);
}

.wrapper {
    background-image: radial-gradient(circle at 50% 18%, #369ba4, #21848d 35%, #116a72);
    padding: 16px 24px 24px 24px;
}

.ecs-use-cases-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;
}

.rtom-use-cases-wrapper {
    margin-top: 60px;
}

.header {
    justify-content: space-between;
}

.logo {
    width: 126px;
    height: 18px;
    margin-top: 10px;
}

.download-button-wrapper, .components-button-wrapper, .restart-button-wrapper {
    align-items: center;
}

.download-button, .restart-button {
    min-width: 0px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 8px 8px 8px 8px;
    margin: 0px;
}

.download-icon {
    color: #fff;
}

.components-icon {
    color: #fff;
    padding-left: 10px;
    margin-bottom: 5px;
}

.component-menu-button {
    min-width: 118px;
    max-height: 42px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 2px 10px 2px 0;
    margin: 0 0 0 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: space-between;
}

.component-menu-button:hover, #download_ecs:hover {
    border: 1px solid rgba(255, 255, 255, 1);
 }

.md-title {
    color: #fff;
    margin-left: 5px;
}

.md-subhead, .md-caption {
    color: #fff;
}

.restart-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.restart-button-text, .download-button-text, .components-button-text {
    opacity: 0.7;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: #ffffff;
}

.menu-wrapper {
    position: absolute;
}

.demo-wrapper {
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ecs-use-cases, .rtom-use-cases {
    margin-top: 10px;
}

.ecs-icon, .rtom-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    margin-right: 10px;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

#download_ecs {
    min-width: 0px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 8px 8px 8px 8px;
    margin: 0px;
    border-radius: 3px;
    width: 40px;
    height: 42px;
}

#download_button {
    color: rgba(255, 255, 255, 1);
}

#restart {
    min-width: 0px;
    padding: 8px 8px 8px 8px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 40px;
    height: 42px;
}
