.material-icons{
    color: white;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.mdl-dialog{
    width: 600px;
}

area {
    display: block;
    cursor: pointer;
    cursor: hand;
}

.verticalLine {
    border-left: 1px solid #ccc;
}
