

/* ---------------------------------------------------------------------------*/

#title {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

#back_button {
    margin: 10px;
}

#forward_button {
    margin: 10px;
}

#left_back_button, #left_back_button_RTOM, #left_back_button_RTOM_OFP {
    margin: 10px;
}

#right_forward_button, #right_forward_button_RTOM, #right_forward_button_RTOM_OFP {
    margin: 10px;
}
#left_button {
    margin: 10px;
}
#right_button {
    margin: 10px;
}
#l_button {
    margin: 10px;
}
#r_button {
    margin: 10px;
}

.material-icons{
    color: white;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}
#entitlments-bronze,#service-pass-bronze {
    display:inline-block;
}

#entitlments-gold,#service-pass-gold {
    display:inline-block;
}

#entitlments-roaming,#service-pass-roaming {
    display:inline-block;
}
#entitlments-bronze {
    left: 300px;
    position: relative;
    top: 20px;
}
#entitlments-gold {
    left: 262px;
    position: relative;
}
#entitlments-roaming {
    left: 303px;
    position: relative;
}


.mdl-dialog{
    width: 600px;
}

area {
    display: block;
    cursor: pointer;
    cursor: hand;
}

.verticalLine {
    border-left: 1px solid #ccc;
}

.arrows.material-icons{
    color: black;
}

.slick-slide {
    margin: 0px 20px;
}

.slider {
    width: 100%;
    margin: 0px auto;
}

.slick-slide img {
    width: 100%;
}

.left,
.right {
    color:black;
}

.left_RTOM,
.right_RTOM,
.left_RTOM_OFP,
.right_RTOM_OFP{
    color:black;
}

.ocrt_left,
.ocrt_right {
    color:black;
}

.paginator{
    position: relative;
    float: right;
}

.slick-slider {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.slick-list.draggable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
