html, body {
    background-color: #EEEEEE;
}

body.md-toast-animating {
    overflow: auto !important;
}

md-toast {
    position: fixed;
    bottom: 0;
    min-width: 300px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

md-dialog {
    max-height: 100%;
}

.mdl-dialog {
    width: 600px;
}

.banner {
    height: 100px;
    background-color: #016a72;
}

.back-button {
    min-width: 0px;
}

.back-button .material-icons {
    color: #fff;
}

/* Blue buttons and orange buttons i.e the continue, create, generate and reset buttons */
.blue-button {
    background-color: #56a0d5;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 0px;
    padding: 0 12px 0 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.blue-button:hover, .blue-button:hover:not([disabled]), .blue-button.md-focused, .blue-button.md-focused:not([disabled]) {
    background-color: #56a0d5;
}

.blue-button[disabled], .blue-button[disabled]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.orange-button {
    background-color: #ee9537;
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 0px;
    padding: 0 12px 0 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.orange-button:hover, .orange-button:hover:not([disabled]), .orange-button.md-focused .orange-button.md-focused:not([disabled]){
    background-color: #ee9537;
}

.orange-button[disabled], .orange-button[disabled]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.actions-wrapper {
    justify-content: space-between;
}

.reset-wrapper {
    align-items: center;
}

.reset-spinner {
    margin-right: 15px;
}

/* Stepper custom styling */
.cent-symbol {
    margin-left: -3px;
}

ul {
    font-size: 14px;
    line-height: 24px;
}

.mdl-stepper {
    margin-top: -58px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-step {
    height: auto;
}

.mdl-step__content {
    margin-right: 64px;
}

.use-case-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px 0px 20px;
    margin-bottom: 10px;
}

.use-case-title .md-headline {
    margin-right: 15px;
}

.mdl-step.is-active .mdl-step__label-indicator {
    background-color: #56a0d5;
}

.mdl-step--completed .mdl-step__label-indicator {
    background-color: #56a0d5;
}

.step-description {
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 8px;
    margin-bottom: 20px;
}

.mdl-step__label {
    padding-bottom: 12px;
}

.mdl-step__actions {
    margin-right: 64px;
}

p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
}

.step-content {
    margin: 20px 0 30px 0;
}

.title-wrapper span {
    font-size: 15px;
}

.action-wrapper {
    align-items: center;
}

.action-description {
    align-items: center;
    justify-content: space-between;
}

.action-description {
    align-content: center;
}

.action-description {
    align-self: flex-start;
}

.action-description p {
    margin: 0px;
}

.action-description .material-icons {
    color: #757575;
}

.action-description .material-icons:hover {
    cursor: hand;
    cursor: pointer;
}

.action-description-content {
    align-items: center;
}

.action-description-content p {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 10px;
}

.results-wrapper {
    align-content: center;
}

.results-box {
    border: solid 1px #016a72;
    border-radius: 2px;
    padding: 5px;
    justify-content: space-between;
}

.results-box-text {
    color: #016a72;
    font-size: 15px;
    font-weight: 500;
}

.results-icon-wrapper {
    height: 25px;
}

.results-icon-wrapper .results-icon {
    color: #016a72;
    border-radius: 5px;
    margin-left: 5px;
}

.results-box .material-icons:hover {
    cursor: hand;
    cursor: pointer;
}

.results-box-ic .material-icons {
    color: #016a72;
    border-radius: 5px;
}

.results-box-ic .material-icons:hover {
    cursor: hand;
    cursor: pointer;
}

.results-info-icon {
    margin: 25px 0 auto 10px;
}

.footer-content {
    margin: 20px 0 10px;
}

/* Style for the Offer Catalog and Profile Manager links */
.link-wrapper {
    margin-top: 10px;
    max-width: 170px;
}

.link-wrapper-pm-two {
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.link-content-wrapper {
    cursor: pointer;
    cursor: hand;
    justify-content: flex-start;
    align-items: center;
}

.offer-catalog-icon-wrapper {
    background-color: #9B1D41;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.offer-catalog-icon, .profile-manager-icon {
    color: #fff;
    width: 20px;
    height: 20px;
}

.link-text {
    font-size: 16px;
    margin-left: 15px;
    color: #9B1D41;
}

.offer-catalog-tab-icon {
    color: #9B1D41;
    font-size: 15px;
    width: 15px;
    height: 15px;
    min-width: 0px;
    min-height: 0px;
    margin: 0 0 -2px 4px;
}

.profile-manager-icon-wrapper {
    background-color: #093791;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.profile-manager-link-text {
    font-size: 16px;
    margin-left: 15px;
    color: #093791;
}

.profile-manager-tab-icon {
    color: #093791;
    font-size: 15px;
    width: 15px;
    height: 15px;
    min-width: 0px;
    min-height: 0px;
    margin: 0 0 -2px 4px;
}

/* Angular Material dialog styles */
md-toolbar:not(.md-menu-toolbar) {
    background-color: #56a0d5;
}

.create-subscriber-dialog-content md-input-container {
    margin: 18px 20px 0px 20px;
}

.md-dialog-is-showing {
    max-height: none;
}

.request-dialog-content {
    padding: 20px 24px 20px;
}

.md-dialog-content-body {
    overflow-x: hidden;
    word-wrap: break-word;
}

md-dialog md-dialog-content .md-dialog-content-body {
    width: auto;
}

.request-dialog-wrapper {
    max-width: 60%;
}

/* Other styles */
.red-text {
    color: red;
}

.subscriber-info-last {
    margin-top: 40px;
}

.connect-info {
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 20px 20px 10px 30px;
    background-color: rgba(0, 0, 0, 0.05);
}

.connect-info-header {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    justify-content: space-between;
}

.connect-icon {
    margin-top: -55px;
    width: 70px;
    height: 70px;
}

.step-footer {
    justify-content: space-between;
}

.usage-amount-input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding-left: 5px;
}

.usage-type-select {
    margin: -3px 0 0 2px;
}

.usage-description {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.54);
}

/* Green progress bars */
.parentProgress md-progress-linear {
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.parentProgress md-progress-linear .md-container{
    height: 8px;
    background-color: rgba(24, 97, 101, 0.25);
}

.parentProgress .md-dashed {
    height: 8px;
}

.parentProgress md-progress-linear .md-container .md-bar {
    height: 8px;
    background-color: rgba(24, 97, 101, 1);
}

.parentProgress .progress-icon {
    color: #186165;
    margin-bottom: 2px;
}

.parentProgress .icon-name {
    color: #186165;
    margin-bottom: -1px;
}

.parentProgress .total-progress-value {
    color: #fff;
    font-size: 13px;
    background-color: #186165;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin-bottom: -2px;
}

.parentProgress .usage-value-text {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}

/* Pink progress bars */
.childProgress md-progress-linear {
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.childProgress md-progress-linear .md-container{
    height: 8px;
    background-color: rgba(144, 19, 254, 0.25);
}

.childProgress .md-dashed {
    height: 8px;
}

.childProgress md-progress-linear .md-container .md-bar {
    height: 8px;
    background-color: rgba(144, 19, 254, 1)
}

.childProgress .progress-icon {
    color: #9013fe;
    margin-bottom: 2px;
}

.childProgress .icon-name {
    color: #9013fe;
    margin-bottom: -1px;
}

.childProgress .total-progress-value {
    color: #fff;
    font-size: 13px;
    background-color: #9013fe;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin-bottom: -2px;
}

.childProgress .usage-value-text {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}

.results-progress-bar-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 16px;
}

.progress-bar-wrapper {
    padding: 10px 0 10px 0;
}

.progress-bar-info {
    justify-content: space-between;
}

.text-icon-wrapper {
    justify-content: space-between;
}

.text-icon {
    margin-right: 20px;
}

._md-center {
    width: 10%;
}
