<!DOCTYPE html>
<html lang="en" class="mdl-js">

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

        <!--content="default-src 'self' 'unsafe-inline'
data: gap: https://ssl.gstatic.com 'unsafe-eval';
style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="icon" href="/DemoPlatform/images/icon.png">
        <!--<link rel="stylesheet" type="text/css" href="css/material.css">-->

        <!-- CSS Libraries -->
        <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">

        <!-- Material Icons -->
        <link rel="stylesheet" type="text/css" href="fonts/google-material/material-icons.css">

        <!-- Syntax Highlighting -->
        <link rel="stylesheet" type="text/css" href="css/prism.css">
        
        <link rel="stylesheet" href="fonts/Roboto/css/fonts.css">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="css/material.indigo-pink.min.css">

        <!-- Stepper CSS minified -->
        <link rel="stylesheet" href="css/stepper.min.css">

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!--<script type="text/javascript" src="js/material.js"></script>-->

        <!-- Dialog support for firefox -->
        <link rel="stylesheet" href="css/dialog-polyfill.css">

        <!-- Custom css for intro -->
        <link rel="stylesheet" type="text/css" href="css/stepper-global.css">

        <link rel="stylesheet" href="css/intro.css">

        <title>Weaver</title>
    </head>
    <body ng-app="DemoPlatform" ng-controller="useintroController" ng-cloak>

        <div class="header"><button id="back_button" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" onclick="location.href='home_weaver.html';">
            <i class="material-icons">arrow_back</i>
            </button>

            <!--<img src="images/logo_openet_app_bar.png" style="width:240px; margin-left:100px; margin-top:30px">-->

        </div>

        <!-- markup -->
        <ul class="mdl-stepper">
            <div id="title">Introduction</div>
            <li class="mdl-step"> <!-- weaver overview -->
                <span class="mdl-step__label">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Weaver in the Spotlight</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        Shortlisted for Gound-Breaking NFV Initiative at this year’s Glotel Telecom Awards, Accelerate’s VNF life-cycle manager lives 
                        up to the accolades. Weaver® provides complete life-cycle management that is purely software driven, and not based on 
                        simple Virtual Machine driven management.
                        
                        <!-- <img src="images/weaver_flow.png" style="width:100%; margin-top:20px">-->
                        <br>
                        
                        <br><br>
                        TODO: Logo Images of Companies, more Publicity can be added - Aidan.
                        <!-- LEIGH NEED NEW MAP OF WEAVER HERE PLZ -->
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep1()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- weaver benefits / terminology -->
                <span id="step-2" class="mdl-step__label" ng-click="toStep1()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Brocade</span>
                        <!-- <span class="mdl-step__title-message">Optional</span> -->
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        ALL CONTENTN HERE TAKEN FROM THE ACCELERATE WEBSITE --> REVIEW AND REVISE
                        <br>
                        <img src="images/BrocadeLogo.png" style="width:100%; margin-top:20px">
                        
                        <br><br>
                        The undisputed frontrunner in storage networking, and leading the evolution in the New IP, Brocade is a proven leader in eye-opening innovation.
                        <br><br>
                        With the first full-function, cloud-based Virtual Evolved Packet Core, Brocade provides open, flexible platforms that give service providers 
                        and enterprises the power to deliver high-performance services on demand.
                        <br><br>
                        Brocade’s vEPC is a full-function Evolved Packet Core (EPC) solution designed for virtualized environments.
                        <br><br>
                        Organized in independent slices of the control, user, and management plane, Brocade vEPC is free of the redundant functionalities and 
                        inter-node dependencies that increase costs and reduce performance in physical node-based packet cores.
                        <br><br>
                        Brocade vEPC, running on Intel x86 servers, provides linear-scaling performance to support any size network for cost-effective business growth.
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep2()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- presentation layer - gui, API, cli -->
                <span id="step-3" class="mdl-step__label" ng-click="toStep2()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Metaswitch</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        ALL CONTENTN HERE TAKEN FROM THE ACCELERATE WEBSITE --> REVIEW AND REVISE
                        <br>
                        <img src="images/MetaswitchLogo.png" style="width:100%; margin-top:20px">
                        Metaswitch is powering the transition of communication networks into a cloud-based, software-centric, all-IP future.
                        <br><br>
                        As the world’s leading network software provider, Metaswitch design, develop, deliver and support commercial and open 
                        source software solutions for network operators. Metaswitch’s high performance software runs on commercial, off-the-shelf 
                        hardware, as appliances or in the cloud.
                        <br><br>
                        Our VoLTE service incorporates Metaswitch capability in delivering virtual IP Multimedia Sub systems (vIMS). (NFV)-based 
                        virtualized IP Multimedia Subsystem (vIMS) increases agility and lowers deployment and operational costs compared to traditional 
                        IMS solutions without NFV platforms.
                        <br><br>
                        Coupled with Brocade’s virtualised network functions and Openet’s virtual policy & charging control (vPCC) and life-cycle management 
                        for virtualized network functions, our VoLTE Service Capsule is a powerful yet effortless service for Operators seeking rapid, reliable VoLTE connections.
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep3()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- Virtual Network Function Manager (VNF-M) -->
                <span id="step-4" class="mdl-step__label" ng-click="toStep3()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Partner Ecosystem</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
						<img src="images/PartnersLogo.PNG" style="width:100%; margin-top:20px">
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" onclick="navigateToPage('home_weaver.html')">
                        Finish
                    </md-button>
                </div>
            </li>
             <!--


                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep4()" data-stepper-next>
                        Continue
                    </md-button>
                </div>


			<li class="mdl-step"> Element Management System (EMS)
                <span id="step-5" class="mdl-step__label" ng-click="toStep4()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Element Management System(EMS)</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
				        texty text
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep5()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
			<li class="mdl-step"> <!-- Openstack and Virtual Machines 
                <span id="step-6" class="mdl-step__label" ng-click="toStep5()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">OpenStack and Virtual Machines</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
						texty text
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" onclick="navigateToPage('home_weaver.html')">
                        Finish
                    </md-button>
                </div>
            </li>  -->
            
        </ul>

        <div class="mdl-js-snackbar mdl-snackbar" aria-live="assertive" aria-atomic="true" aria-relevant="text">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">Title</h4>
            <div class="mdl-dialog__content">
                <div id="dialogText"></div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="dialog2">
            <h4 class="mdl-dialog__title">Title</h4>
            <div class="mdl-dialog__content">
                <div id="dialog2Text"></div>
                <div id="dialog2Images"></div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>
                
        <!-- Javascript Libraries -->
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        <!-- Material Design Lite JS -->
        <script src="js/material.min.js"></script>

        <!-- MDL Stepper component -->
        <script src="js/stepper.min.js"></script>

        <!-- Syntax Highlighting -->
        <script src="js/prism.js"></script>        
        <!-- Custom js for intro -->
        <script src="js/stepper-global.js"></script>
        <script src="js/intro_weaver.js"></script>

    </body>
</html>
