<!-- TODO: Store and reference googleapis locally
ng-click='logNavigation("/offer-catalog/#/", "Offer-Catalog", appSelectorPort)' ??

-->
<html lang="en" >
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="icon" href="images/icon.png">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="css/angular-material.min.css">
        <link rel="stylesheet" href="fonts/google-material/material-icons.css">
        <link rel="stylesheet" href="css/material.indigo-pink.min.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/dialog-polyfill.css">
        <link rel="stylesheet" href="fonts/Roboto/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="css/stepper-global.css">
        <title>Demo Platform</title>
    </head>
    <body class="wrapper" ng-app="DemoPlatform" ng-cloak>
        <div class="header" layout="row" ng-controller="componentController" ng-init="demoInit()">
            <div layout="row">
                <md-button class="back-button" ng-click="navigate_launcher()">
                    <md-tooltip md-direction="bottom">
                        Demo Launcher
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">home</md-icon>
                </md-button>
                <img class="logo" src="images/openet-logo.png">
                <p id="registered" >Registered user : {{ username }} </p>
            </div>
            <div layout="row">

                <div class="components-button-wrapper" layout="column">
                    <md-button id="health-check" ng-click="openSystemHealthDialog($event)">
                        <md-icon class="components-icon" md-font-set="material-icons">list</md-icon>
                    </md-button>
                    <span class="components-button-text">Weaver Health Status</span>
                </div>

                <div class="components-button-wrapper" layout="column">
                    <md-button id="health-check" ng-click="openSystemHealthList($event)">
                        <md-icon class="components-icon" md-font-set="material-icons">list</md-icon>
                    </md-button>
                    <span class="component-count md-title">{{ startedComponents }} / {{ totalComponents }}</span>
                </div>


                <div class="components-button-wrapper" layout="column">
                    <md-button id="clear-vnf" ng-click="refresh($event)">
                        <md-icon class="download-icon" md-font-set="material-icons">refresh</md-icon>
                    </md-button>
                    <span class="components-button-text">Restart</span>
                </div>


            </div>
        </div>
        <div class="demo-wrapper" align="center" ng-controller="demoController">
			<div class="weaver-use-cases-wrapper">
                <span class="md-headline" layout="row" layout-align="start center">
                    <md-icon md-svg-icon="images/ic-weaver.svg"></md-icon>
                    <span>Weaver</span>
                </span>
                <div class="weaver-use-cases" layout="row" layout-wrap>
                    <md-card class="{{ card.class }}" ng-repeat="card in weaverCards" ng-click="navigateToPage(card)">
                        <md-card-title layout-align="center center">
                            <img class="use-case-icon" src="{{ card.icon }}">
                        </md-card-title>
                        <md-card-content layout="column">
                            <span class="md-subhead"> {{ card.name }} </span>
                            <span class="md-caption"> {{ card.description }} </span>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>


        <dialog class="mdl-dialog" id="dialog" style="-webkit-user-select: text">
            <h4 class="mdl-dialog__title">Results</h4>
            <div class="mdl-dialog__content ResponseText">
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="dialog-restart" align="center center">
            <h4 class="mdl-dialog__title">Results</h4>
            <div class="mdl-dialog__content ResponseText">
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button yes">Yes</button>
                <button type="button" class="mdl-button no">No</button>
            </div>
        </dialog>

        <script src="js/dialog-polyfill.js"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
        <script src="js/material.min.js"></script>

        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>

        <script src="js/material.min.js"></script>

        <!-- MDL Stepper component -->
        <script src="js/stepper.min.js"></script>

        <!-- Jquery library -->
        <script src="js/jquery-3.1.1.js"></script>

        <!-- Syntax Highlighting -->
        <script src="js/prism.js"></script>

        <!-- Logic js script -->
        <script src="js/stepper-global.js"></script>
        <script src="js/home_weaver.js"></script>
        <script src="js/stepper-services.js"></script>
    </body>
</html>
