<!DOCTYPE html>
<html lang="en" class="mdl-js">

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="icon" href="images/icon.png">
        <!--content="default-src 'self' 'unsafe-inline'
data: gap: https://ssl.gstatic.com 'unsafe-eval';
style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="icon" href="/DemoPlatform/images/icon.png">
        <!--<link rel="stylesheet" type="text/css" href="css/material.css">-->

        <!-- CSS Libraries -->
        <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">

        <!-- Material Icons -->
        <link rel="stylesheet" type="text/css" href="fonts/google-material/material-icons.css">

        <!-- Syntax Highlighting -->
        <link rel="stylesheet" type="text/css" href="css/prism.css">
        
        <link rel="stylesheet" href="fonts/Roboto/css/fonts.css">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="css/material.indigo-pink.min.css">

        <!-- Stepper CSS minified -->
        <link rel="stylesheet" href="css/stepper.min.css">

       
        <!-- Dialog support for firefox -->
        <link rel="stylesheet" href="css/dialog-polyfill.css">

        <!-- Custom css for intro -->
        <link rel="stylesheet" type="text/css" href="css/stepper-global.css">
        <link rel="stylesheet" href="css/intro.css">

        <title>Weaver</title>
    </head>
    <body ng-app="DemoPlatform" ng-controller="useintroController" ng-cloak>
        <div class="banner">
            <md-button class="back-button" onclick="navigateToPage('home_weaver.html')">
                <md-icon md-font-set="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
        <ul class="mdl-stepper">
            <div id="step-1" class="use-case-title">
                <span class="md-headline">{{ useCaseTitle }}</span>
                <span class="md-subhead">{{ useCaseSubTitle }}</span>
            </div>
            <li class="mdl-step"> <!-- weaver overview -->
                <span class="mdl-step__label">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Weaver Overview</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        Openet Weaver, aligned with the ETSI Network Function Virtualization (NFV) architecture, is a flexible and generic virtual 
                        network function manager (VNFM). It can manage Virtual Network Functions (VNFs) of different types that originate 
                        from multiple vendors. Openet Weaver can manage single instance VNFs or complex multi-instance VNFs that require advanced lifecycle 
                        management procedures.
                        <br><br>
                        Openet Weaver is an extensible framework that allows for custom lifecycle procedures and custom workflows. Its VNF management 
                        provides extensive control over lifecycle events. In contrast, other solutions manage VNFs at the higher level of Virtual 
                        Machine (VM) image.
                        <br>
                        
                        <img src="images/weaver_mano2.png" style="max-width:100%; margin-top:30px">
                        
                        
                        
                        
                        
                        <!--
                        <div style="float:left; max-width:38%; margin-top:30px">
                            Openet Weaver has the following main features:
                            <ul>
                                <li>Generic Multi-tenant VNF-M Architecture</li>
                                <li>Metadata driven Model</li>
                                <li>Fine-grained control of VNF template creation</li>
                                <li>Flow driven VNF lifecycle management</li>
                                <li>Converged VNF-M with some Element Management System (EMS)</li>
                            </ul>
                            
                        </div>
                         <div class="verticalLine"  style="width:60%; float:right; height:410px; padding-left:14px;font-size:14px" >
                            <div class="element">
                                <div>
                                    <img src="images/weaver_flow.png" style="max-width:100%; margin-top:30px">
                                </div>
                            </div>
                        </div>
                        <div style="float:left; margin-top:30px">
                            <p>Within the Management and Orchestration (MANO) layer Weaver delivers functionality which covers both Element Management and VNF Management capability.</p>
                        </div> -->
                    </div>
                    
                
                </div>
                
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep1()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- weaver benefits / terminology -->
                <span id="step-2" class="mdl-step__label" ng-click="toStep1()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Weaver Architecture Components</span>
                        
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        Click on the image below to get descriptions of each Weaver Microservice.
                        
                        <img src="images/weaver_components2small.PNG" style="margin-top:20px" usemap="#component_map">
                        
                        <map name="component_map">
                            <area shape="rect" coords="70,142,173,210" ng-click="vnfm()" alt="vnfm" id="vnfm" title="Openet Weaver VNF-M GUI">
                            <area shape="rect" coords="199,142,301,210" ng-click="api()" alt="api" id="api" title="APIs and CLIs">
                            <area shape="rect" coords="328,143,431,209" ng-click="wfeg()" alt="wfeg" id="wfeg" title="Workflow Engine GUI">
                            <area shape="rect" coords="457,142,560,210" ng-click="wsg()" alt="wsg" id="wsg" title="Workflow Studio GUI">
                            
                            <area shape="rect" coords="54,284,158,352" ng-click="wefe()" alt="wefe" id="wefe" title="Workflow Engine Front-End">
                            <area shape="rect" coords="184,285,287,352" ng-click="we()" alt="we" id="we" title="Workflow Engine">
                            <area shape="rect" coords="57,373,158,440" ng-click="rm()" alt="rm" id="rm" title="Resource Manager">
                            <area shape="rect" coords="184,374,286,440" ng-click="val()" alt="val" id="val" title="VIM Abstraction Layer">
                            
                            <area shape="rect" coords="345,283,447,352" ng-click="cm()" alt="cm" id="cm" title="Configuration Manager">
                            <area shape="rect" coords="473,285,576,352" ng-click="pm()" alt="pm" id="pm" title="Performance Manager">
                            <area shape="rect" coords="345,372,446,440" ng-click="fm()" alt="fm" id="fm" title="Fault Manager">
                            <area shape="rect" coords="474,372,576,441" ng-click="iim()" alt="iim" id="iim" title="VNF Instance Inventory Manager">
                            
                            <area shape="rect" coords="120,509,222,576" ng-click="heat()" alt="heat" id="heat" title="Heat">
                            <area shape="rect" coords="339,502,441,574" ng-click="ra1()" alt="ra1" id="ra1" title="Resource Agent VNFC">
                            <area shape="rect" coords="482,503,585,573" ng-click="ra2()" alt="ra2" id="ra2" title="Resource Angent VNFC">
                        
                        </map>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep2()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- presentation layer - gui, API, cli -->
                <span id="step-3" class="mdl-step__label" ng-click="toStep2()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Weaver Microservices Flow</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        The diagram below shows how Weaver Microservices communicate with each other. 
                        <img src="images/weaver_microservices2small.PNG" style="margin-top:30px" usemap="#flow_map">
                        
                        <map name="flow_map">
                            <area ng-click="fgui()" alt="fgui" title="fgui" shape="rect" coords="160,119,245,167" />
                            <area ng-click="fiim()" alt="fiim" title="fiim" shape="rect" coords="338,119,422,167" />
                            <area ng-click="fval()" alt="fval" title="fval" shape="rect" coords="446,118,531,167" />
                            <area ng-click="fpm()" alt="fpm" title="fpm" shape="rect" coords="564,118,649,167" />
                            <area ng-click="ffe()" alt="ffe" title="ffe" shape="rect" coords="162,218,245,266" />
                            <area ng-click="fwe()" alt="fwe" title="fwe" shape="rect" coords="337,219,475,267" />
                            <area ng-click="ffm()" alt="ffm" title="ffm" shape="rect" coords="565,222,649,272" />
                            <area ng-click="fra()" alt="fra" title="fra" shape="rect" coords="734,218,819,265" />
                            <area ng-click="fcm()" alt="fcm" title="fcm" shape="rect" coords="159,317,245,366" />
                            <area ng-click="frm()" alt="frm" title="frm" shape="rect" coords="478,285,562,332" />
                        </map> 
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep3()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
            <li class="mdl-step"> <!-- Virtual Network Function Manager (VNF-M) -->
                <span id="step-4" class="mdl-step__label" ng-click="toStep3()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Lifecycle Management</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        Weaver uses a flow-driven VNF lifecycle Management. A workflow is a logically linked sequence of steps where each step is an Weaver API call. Each API call represents an 
                        action with an input and an output that indicates success or failure. If a step is successful the flow will proceed to the next step. If the execution of the step results 
                        in failure an action can be made to pause the flow, rollback the flow or retry the step.
                        <br>
                        <img src="images/weaver_wfsteps2.png" style="max-width:100%; margin-top:30px">
                        <p style="margin-top:30px">The Weaver Workflow Studio provides tenants with a GUI that helps simplify the creation, execution, management, modification, and debugging of simple or complex VNF lifecycle operation flows.</p>
                        <br>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep4()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
			<li class="mdl-step"> <!-- Element Management System (EMS) -->
                <span id="step-5" class="mdl-step__label" ng-click="toStep4()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">VNFM and EMS</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        Openet VNF Lifecycle Manager provides a tightly coupled and converged VNFM and EMS platform. This convergence allows for more seamless management of VNFs. The Weaver Workflow Engine is pre-integrated with all of Weaver EMS APIs. This facilitates VNF lifecycle management beyond the capabilities of a traditional, loosely coupled VNFM and EMS system. 
                        <br>The converged system offers a wider range of EMS FCAPS capabilities to the VNF Lifecycle Manager VNFM, providing tenants with more granular control and visibility into the health of their VNFs when creating VNF lifecycle flows. 
                        <br><br>The VNFM Workflow Engine has out of the box flow operations for the following:
                        
                            <br>1.	VNF status and health checking
                            <br>2.	Performance monitoring 
                            <br>3.	Configuration management
                            <br>4.	VNF lifecycle management operations: 
                            <ul><li>	Start</li>
                            <li>	Stop</li>
                            <li>	Install</li>
                            <li>	Update</li>
                            <li>	Upgrade</li>
                            <li>	Healing</li>
                            <li>	Scaling</li>
                        </ul>Weaver EMS comes integrated out of the box with Weaver VNFM to trigger auto-scaling and auto-healing flows when it detects faults or exceeded performance thresholds as defined through metadata.

                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep5()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li>
            
			<li class="mdl-step"> <!-- Openstack and Virtual Machines -->
                <span id="step-6" class="mdl-step__label" ng-click="toStep5()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Weaver Partners</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <img src="images/PartnersLogo.PNG" style="margin-top:30px; max-width:100%">
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" onclick="navigateToPage('home_weaver.html')">
                        Finish
                    </md-button>
                </div>
            </li>
            
        </ul>

        <div class="mdl-js-snackbar mdl-snackbar" aria-live="assertive" aria-atomic="true" aria-relevant="text">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">Title</h4>
            <div class="mdl-dialog__content">
                <div id="dialogText"></div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="dialog2">
            <h4 class="mdl-dialog__title">Title</h4>
            <div class="mdl-dialog__content">
                <div id="dialog2Text"></div>
                <div id="dialog2Images"></div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>
                
        <!-- Javascript Libraries -->
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        <!-- Material Design Lite JS -->
        <script src="js/material.min.js"></script>

        <!-- MDL Stepper component -->
        <script src="js/stepper.min.js"></script>

        <!-- Syntax Highlighting -->
        <script src="js/prism.js"></script>        
        <!-- Custom js for intro -->
        <script src="js/stepper-global.js"></script>
        
        <script src="js/intro_weaver.js"></script>
        <script src="js/stepper-services.js"></script>
    </body>
</html>
