<md-dialog aria-label="Registration Form">
    <form name="clientForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register your name</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-block">
            <div class="md-dialog-content" layout="column">
                <div layout="row">
                    <md-input-container flex-gt-sm>
                        <label>First Name</label>
                        <input required name="FirstName" ng-model="user.FirstName" autofocus>
                        <div ng-messages="clientForm.FirstName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <label>Last Name</label>
                        <input required name="LastName" ng-model="user.LastName">
                        <div ng-messages="clientForm.LastName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-disabled="clientForm.$invalid" type="submit" ng-click="hide()">Register</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
