<!-- TODO:  -->
<!DOCTYPE html>
<html lang="en" class="mdl-js">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

        <link rel="icon" href="images/icon.png">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <!-- CSS Libraries -->
        <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
        <!-- Material Icons -->
        <link rel="stylesheet" type="text/css" href="fonts/google-material/material-icons.css">

        <link rel="stylesheet" type="text/css" href="fonts/Roboto/css/fonts.css">

        <!-- Stepper CSS minified -->
        <link rel="stylesheet" href="css/material.indigo-pink.min.css">
        <link rel="stylesheet" type="text/css" href="css/stepper.min.css">

        <!-- Syntax Highlighting -->
        <link rel="stylesheet" type="text/css" href="css/prism.css">

        <!-- Custom css for use1 -->
        <link rel="stylesheet" type="text/css" href="css/stepper-global.css">
        
        <!-- Dialog support for firefox -->
        <link rel="stylesheet" href="css/dialog-polyfill.css">

        <title>Weaver</title>
    </head>
    <body ng-app="DemoPlatform" ng-controller="use1Controller" ng-cloak>
        <div class="banner">
            <md-button class="back-button" onclick="navigateToPage('home_weaver.html')">
                <md-icon md-font-set="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
        <ul class="mdl-stepper">
            <div id="step-1" class="use-case-title">
                <span class="md-headline">{{ useCaseTitle }}</span>
                <span class="md-subhead">{{ useCaseSubTitle }}</span>
            </div>
            
            
            
            <li class="mdl-step"><!-- 1 introduction summary -->
                <span class="step-1 mdl-step__label">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Introduction</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description" >
                        <div>
                            In this use case we are using Weavers VNF Manager functionality to deploy a sample Microblog as a VNF. 
                            The Microblog is a functional micro-blog application that can be used for blogging.
                            This VNF consists of one load balancer, two application servers and one postgres 
                            database node. The VNF can be deployed with or without a Virtualized Infrastructure 
                            Manager (VIM) configuration depending on whether you want to allow VM management 
                            capabilities such as the allocation of specific hardware resources during instantiation. In this 
                            use case we will use OpenStack as the VIM. 
                        </div>
                        <div style="float:left; max-width:48%">    
                            <br>The following is a brief overview of the steps taken to integrate a VNF with Weaver:
                                <ul>
                                    <li> Preparing the VNF Workspace</li>
                                    <li> Preparing Configuration Files - metadata, packages, and procedures for each VNFC.</li>
                                    <li> Uploading the prepared files to Weaver.</li>
                                    <li> Creating and uploading the VNFD.</li>
                                    <li> Creating a VNF template and executing the instantiate_vnf workflow.</li><br>
                                </ul>
                            Once this is complete the VNF is running and ready for a Health Check to verify successful instantiation.
                        </div>    
                        <div style="float:right">
                            <img src="images/weaver_terms4.png" usemap="termsMap">
                            
                            <map name="termsMap" id="termsMap">
                                <area  title="tvnf" ng-click="tvnf()" shape="poly" coords="30,7,11,24,11,203,31,220,213,219,234,202,232,24,210,7,33,8,53,38,44,45,40,155,71,185,187,187,196,174,194,66,165,39,59,40" />
                                <area  title="tvnfc" ng-click="tvnfc()" shape="poly" coords="61,40,46,49,45,157,80,186,184,186,197,176,195,73,163,40" />
                                <area  title="tvnft" ng-click="tvnft()" shape="rect" coords="71,256,176,323" />
                                <area  title="tvnfd" ng-click="tvnfd()" shape="rect" coords="202,256,306,323" />
                                <area  title="tvnfi" ng-click="tvnfi()" shape="rect" coords="91,339,284,384" />
                                <area  title="tvnff" ng-click="tvnff()" shape="rect" coords="316,339,430,391" />
                            </map>
                        </div>    
						<!-- IMAGE LEIGH ? -->
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep1()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 1 introduction summary -->

            <li class="mdl-step"><!-- 2 Creating the VNF, VNFC and VNFD directory structures in the workspace -->
                <span id="step-2" class="mdl-step__label" ng-click="toStep1()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Creating the VNF Workspace</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                         <div style="float:left; max-width:48%">    
                            <p>The Microblog VNF consists of 3 VNFCs - Blogserver, Nginx, and Postgres. Each has its own configuration files, packages, procedures and metadata, defining the function of the VNFC.
                                <br><br>
                                The next diagram is a directory tree structure of the Weaver workspace.
                               The workspace is an organisational area for all components of the VNF, organised by Tenant, then VNF, then VNFC etc.
                               <br> The followiong code is an example of the CLI commands used to create the VNF workspace.
                            </p>
                             
                             <code>
                                ovlm-cm tenant create -t default -d "Tenant for Default user"<br><br>
                                ovlm-cm vnf create -v microblog -t default -d "Microblog VNF"<br><br>
                                ovlm-cm vnfc create -v microblog -t default -c blogserver<br><br>
                                ovlm-cm vnfc create -v microblog -t default -c nginx<br><br>
                                ovlm-cm vnfc create -v microblog -t default -c postgres   
                            </code>
                        </div>
                         <div style="float:right; max-width:50%">
                             <img src="images/weaver_vnfcs1.png">
                            <img src="images/weaver_arch4.PNG" style="max-width:90%; margin-top:30px; display: block; margin-left: auto; margin-right: auto;">
                            
                        </div>
					</div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep2()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 2 Creating the VNF -->

            <li class="mdl-step"><!-- 3 Preparing files --> 
                <span id="step-3" class="mdl-step__label" ng-click="toStep2()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Configuration files for the Microblog VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>The image below is an example of the files required with a VNFC such as the blogserver. </p>
                        <div style="float:left; max-width:50%">
                            <ul>
                                <li>packages - This location holds the install VNFC packages (RPMs and DEBs) for the VNFCs.</li>
                                <li>configuration - This location holds the application configuration files in jinja2 format that are localized when deployed on the run time nodes.</li>
                                <li>procedures - This location holds the custom Python procedures that can be used to override the Openet Weaver out of the box procedures.</li>
                                <li>metadata - This location holds VNFC meta data that defines customization and parameters in YML format.</li>
                                <li>mibs - This location holds the Management Information Base (MIB) files.</li>
                                <li>policies - This location holds the fault management and performance management files.</li>
                            </ul>
                            <br>Click on the Icons below to see an example of the files used to configure the blogserver VNFC.
                            <img src="images/weaver_files.png" usemap="#FileMap">
                            <map name="FileMap" id="FileMap">
                                <area title="Configuration" ng-click="conf()" shape="rect" coords="46,15,203,88" />
                                <area title="Packages"  ng-click="pack()" shape="rect" coords="45,99,202,174" />
                                <area title="Procedures"  ng-click="proc()" shape="rect" coords="215,15,371,89" />
                                <area title="Metadata"  ng-click="meta()" shape="rect" coords="215,100,371,175" />
                            </map>
                            
                        </div>
                        <div style="float:right; max-width:50%">
                            <img src="images/weaver_vnfcs22.png">
                            <img src="images/weaver_arch31.PNG" style="max-width:100%; margin-top:30px; display: block; margin-left: auto; margin-right: auto;">
                       
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        Below are example CLI commands to upload the files for the VNFC to Weaver.
                        
                        <code><ul>
                            <li>ovlm-cm vnfc_metadata upload        -t default -v microblog -c blogserver -f meta.yml</li>
                            <li>ovlm-cm vnfc_package upload         -t default -v microblog -c blogserver -f microblog-1.centos.x86_64.rpm</li>
                            <li>ovlm-cm vnfc_configuration upload   -t default -v microblog -c blogserver -f blogserver.conf.jinja</li>
                            <li>ovlm-cm vnfc_procedure upload       -t default -v microblog -c blogserver -f install_vnfc_v2.py</li>
                        </ul></code>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep3()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 3 Preparing files  -->

            <li class="mdl-step"><!-- 4 Uploading the prepared files to Weaver-->
                <span id="step-4" class="mdl-step__label" ng-click="toStep3()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">VNFD for the Microblog VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <div style="float:right; max-width:50%"><img src="images/weaver_vnfd2.png"></div>
                        The VNF descriptor (VNFD) describes a VNF in terms of its Virtual Infrastructure Manager (VIM) infrastructure-related deployment and operational behaviour. The VNFD file is in the 
                        YML format. The definition is based on the Topology and orchestration specification for cloud applications (TOSCA) as defined by Oasis.
                        VNFDs are used to process on-boarding and lifecycle management for VNFs with VIM deployment configuration. For example, VNFDs are used to allocate VNF resources and to autogenerate 
                        the VNF topology when a VNF is instantiated. VNF Resources include the following:
                        <br>
                        <ul>
                            <li>CPU requirements</li>
                            <li>Hard Disk requirements</li>
                            <li>RAM requirements</li>
                        </ul>
                        <br>When using a VIM such as OpenStack, these elements are grouped into predefined virtual resource sizes called flavors. Weaver will assign a flavor which most closely meets or exceeds requirements. The VNFD also specifies connection points within the VIM that the VNFCs will connect with.
                        <br>In the Microblog example, we specify two Postgres VNFC instances that will be instantiated in this instance of the VNF. <br>
                        <br>Click on the icon to see an example of the VNFD.
                        <br><img src="images/weaver_files_vnfd.png" usemap="file2map">
                        <map name="file2map" id="file2map">
                            <area title="VNFD" ng-click="vnfdfile()" shape="rect" coords="116,15,272,89" />
                        </map>
                        <br> The following CLI command creates a space in the VNF Workspace for the VNFD:<br>
                        <code>ovlm-cm vnfd create -v microblog -t default -i vnfd1 -m tosca -d "VNFD for microblog"</code>
                        <br><br>To upload the VNFD file use the following CLI command:<br>
                        <code>ovlm-cm vnfd upload                 -t default -v microblog -i microblog_vnfd -f vnfd.yaml</code>
                        
                        
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep4()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 4 Uploading the prepared files to Weaver -->
            
            
            <li class="mdl-step"><!-- 5 ploading the prepared files to Weaver-->
                <span id="step-5" class="mdl-step__label" ng-click="toStep4()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Creating a VNF Template and Instance</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>VNF template and VNF lifecycle workflows are the two main concepts introduced by Weaver to achieve VNF 
                            software lifecycle management. Templates are version controlled, making it possible to roll back to a previous version if required.
                            The following example CLI command is used to create a template:</p>
                        <code>
                            <ul>
                                <li>ovlm-cm template create -t default -v microblog -p microblog_v1</li>
                            </ul>
                        </code>
                        <br>
                        <p>In order to instantiate the VNF, an instance of the VNF should be created with the following example CLI command:</p>
                        
                        <code>
                            <ul>
                                <li>ovlm-cm vnf_instance create -t default -v microblog -i microblog_instance1 -d "Microblog VNF Instance"</li>
                            </ul>
                        </code>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep5()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 4 Uploading the prepared files to Weaver -->

             <li class="mdl-step"><!-- 5 new step-->
                <span id="step-6" class="mdl-step__label" ng-click="toStep5()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">VNF Package Upload/Download</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        The Microblog VNF is a sample VNF provided with Weaver in Template/Package form. Users can download and upload VNF Packages, for transferring between installations of Weaver 
                        or for making quick edits in the VNF.
                        <br><br>The video below demonstrates the following sequence of events:
                        <ul>
                            <li>There are no VNFs, so we create a microblog instance.</li>
                            <li>The VNF has no packages associated with it yet, so we Import a VNF Package, selecting the microblog VNF.</li>
                            <li>Once the upload is complete we can now see that the microblog has the microblog_v1 package to instantiate, and on the Lifecycle page we can select it for instantiation.</li>
                            <li>Back on the Catalog page, we have the option to download the VNF Package - handy if transferring to a new Weaver environment.</li>
                        </ul><br>
                        <iframe src="https://player.vimeo.com/video/222315862" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep6()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 5 new step -->
            
            
            <li class="mdl-step"><!-- 6 Creating a template and instantiating the VNF -->
                <span id="step-7" class="mdl-step__label" ng-click="toStep6()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Instantiation through the Weaver VNFM-GUI</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>
                            Weaver provides out-of-the box workflows and lifecycle procedures for a number of use cases so these can be reused by vendors and operators, or modified for new lifecycle events.
                            Instantiatiating the VNF instance can be done either through the CLI or through the Weaver GUI. The following example CLI command will execute the Instantiate workflow: 
                        </p>
						<code>ovlm-fe workflow submit -t default -v microblog -i microblog_instance1 -y instantiate_vnf -p ‘{"vnf_template_id":"microblog_v1", 
                            "vnfd_id": "microblog_vnfd"}’
                        </code>
                        
                        <br><br><p>The video below will demonstrate the following points in the Weaver VNF-M GUI:</p>
                        <ul>
                            <li>Start with checking the left-side menu bar - We are using the default tenant for this demonstration</li>
                            <li>Navigating to the Catalog page, we note that the Microblog is listed as a VNF Package - within this we have the option to delete or download the package</li>
                            <li>We then navigate to the Lifecycle page where the sample Microblog VNF is in "inactive" state</li>
                            <li>Check the Health Status of Weaver before instantiation</li>
                            <li>Instantiate the VNF, selecting the VNF Package, Resources, the VNFD and the Point-of-Presence</li>
                            <li>Once the VNF is instantiated, we can view the running VNFCs that make up the VNF, with options to Start, Stop or Upgrade the VNFCs</li>
                            <li>Checking the Health Status again, note that there are 4 new Resource Agents, one per VNFC</li>
                        </ul>
                        <br>
                        <iframe src="https://player.vimeo.com/video/222316797" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <br><br>
                        <md-divider></md-divider>
                    <div class="oc-link-description">
                        <p><br>Click the link below to navigate to the Weaver VNF-M GUI to try it for yourself!</p>
                    </div>
                    <div class="link-wrapper" flex="50">
                        <a href="http://10.0.104.46:28200/#/vnf-catalog/default" target="_blank">
                            <div class="link-content-wrapper" layout="row">
                                <div class="offer-catalog-icon-wrapper" layout="center center">
                                    <md-icon class="offer-catalog-icon" md-font-set="material-icons">blur_on</md-icon>
                                </div>
                                <span class="link-text">Weaver GUI</span>
                                <md-icon class="offer-catalog-tab-icon" md-font-set="material-icons">open_in_new</md-icon>
                            </div>
                        </a>
                    </div>
                    </div>
                </div>
				<div class="mdl-step__actions">
                    <div class="actions-wrapper" flex="100" layout="row">
                        <md-button class="blue-button" onclick="navigateToPage('home_weaver.html')">
                            Finish
                        </md-button>
                    </div>
                </div>
            </li><!-- 5 Creating a template and instantiating the VNF -->

           
        </ul>
        
        <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">Title</h4>
            <div class="mdl-dialog__content">
                <div id="dialogText"></div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>

        <!-- Javascript Libraries -->
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        <!-- Material Design Lite JS -->
        <script src="js/material.min.js"></script>

        <!-- MDL Stepper component -->
        <script src="js/stepper.min.js"></script>

        <!-- Syntax Highlighting -->
        <script src="js/prism.js"></script>

        <!-- Custom js for use1 -->
        <script src="js/stepper-global.js"></script>
        <script src="js/use1_weaver.js"></script>
        <script src="js/stepper-services.js"></script>
        
        
    </body>
</html>
