<!-- TODO:  -->
<!DOCTYPE html>
<html lang="en" class="mdl-js">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

        <link rel="icon" href="images/icon.png">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <!-- CSS Libraries -->
        <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
        <!-- Material Icons -->
        <link rel="stylesheet" type="text/css" href="fonts/google-material/material-icons.css">

        <link rel="stylesheet" type="text/css" href="fonts/Roboto/css/fonts.css">

        <!-- Stepper CSS minified -->
        <link rel="stylesheet" type="text/css" href="css/stepper.min.css">

        <!-- Syntax Highlighting -->
        <link rel="stylesheet" type="text/css" href="css/prism.css">

        <!-- Custom css for use2 -->
        <link rel="stylesheet" type="text/css" href="css/stepper-global.css">
       

        <title>Weaver</title>
    </head>
    <body ng-app="DemoPlatform" ng-controller="use2Controller" ng-cloak>
        <div class="banner">
            <md-button class="back-button" onclick="navigateToPage('home_weaver.html')">
                <md-icon md-font-set="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
        <ul class="mdl-stepper">
            <div id="step-1" class="use-case-title">
                <span class="md-headline">{{ useCaseTitle }}</span>
                <span class="md-subhead">{{ useCaseSubTitle }}</span>
            </div>
            <li class="mdl-step"><!-- 1 introduction summary -->
                <span class="mdl-step__label">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Introduction</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>
                            Weaver uses a flow-driven VNF lifecycle Management. A workflow is a logically linked sequence of steps where each step 
                            is a Weaver API call. Each API call represents an action with an input and an output that indicates success or failure. 
                            If a step is successful the flow will proceed to the next step. If the execution of the step results in failure an action 
                            can be made to pause the flow, rollback the flow or retry the step.

                        </p>
                        <p>The following videos will demonstrate the various workflows that are executed through the Weaver VNFM-GUI. 
                            We are demonstrating with the sample Microblog VNF which is included with Weaver.  
                            This Weaver instance is running in an OpenStack Environment and all nodes are deployed in OpenStack.</p>
                        
                        <!-- The Out-of-the-Box workflows are as follows:
                        <ul style="font-size:15px">
                            <li> Instantiate the VNF</li>
                            <li> Upgrade the VNF</li>
                            <li> Update the VNF</li>
                            <li> Roll back the VNF/VNFC</li>
                            <li> Heal the VNF</li>
                            <li> Start the VNF/VNFC</li>
                            <li> Stop the VNF/VNFC</li>
                            <li> Check if the VNF is Up/Down</li>
                            <li> Terminate the VNF</li>
                            <li> Scale out the VNF</li>
                            <li> Run a custom Workflow</li>
                        </ul>
						<!-- IMAGE LEIGH ? -->
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep1()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 1 introduction summary -->

            <li class="mdl-step"><!-- 2 instantiate the VNF -->
                <span id="step-2" class="mdl-step__label" ng-click="toStep1()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Instantiate the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>This workflow instantiates the Microblog VNF. Watch the video below to see how to Instantiate the VNF.</p>
                        <p style="color:red">Step 2 – scene=Weaver GUI -/-SCRIPT: “To instantiate a VNF we can use the Weaver GUI. Here we go to the VNF Lifecycle tab *navigate to page* and select 
                            New VNF Instance *select button*. The next few dialogs allow the user to specify name and description of the VNF and then select the package to deploy. 
                            Once complete the GUI shows the new VNF in an Instantiating state *views VNF card*.”</p>
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/219824830" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <p>Upon successful instantiation, the VNF will be displayed on the VNF Lifecycle page with options to execute other lifecycle events.</p>
					</div>
                    <md-divider></md-divider>
                    <div class="oc-link-description">
                        <p>Click the link below to navigate see the Weaver GUI:</p>
                    </div>
                    <div class="link-wrapper" flex="50">
                        <a href="http://10.0.104.208:28200/" target="_blank">
                            <div class="link-content-wrapper" layout="row">
                                <div class="offer-catalog-icon-wrapper" layout="center center">
                                    <md-icon class="offer-catalog-icon" md-font-set="material-icons">local_offer</md-icon>
                                </div>
                                <span class="link-text">Weaver GUI</span>
                                <md-icon class="offer-catalog-tab-icon" md-font-set="material-icons">open_in_new</md-icon>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep9()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 2 instantiate the VNF 

            <li class="mdl-step"><!-- 3 Update the VNF 
                <span id="step-3" class="mdl-step__label" ng-click="toStep2()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Update the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>This video demonstrates the update flow in action. 
                            The term "Update" applies when changes to configuration of a VNF are required. 
                            Some changes require the VNF to restart, while others can be in-service updates. Watch the video below to see how to update the VNF. </p>
                        <p style="color:red">Step 3 – scene=Weaver GUI -/- SCRIPT: “To update the VNF we can use the Weaver GUI. Here we go to the VNF Lifecycle tab *navigate 
                            to page* and select the button Update on the VNF Instance *selects update button*. The next dialog allows the user to specify a 
                            VNF Package to update. Once complete the GUI shows the VNF in a Running(Update In-Progress) state *views VNF card*.”
                        </p>
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/217629562" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <md-divider></md-divider>
                    <div class="oc-link-description">
                        <p>Click the link below to navigate see the Weaver GUI:</p>
                    </div>
                    <div class="link-wrapper" flex="50">
                        <a href="http://10.0.104.208:28200/" target="_blank">
                            <div class="link-content-wrapper" layout="row">
                                <div class="offer-catalog-icon-wrapper" layout="center center">
                                    <md-icon class="offer-catalog-icon" md-font-set="material-icons">local_offer</md-icon>
                                </div>
                                <span class="link-text">Weaver GUI</span>
                                <md-icon class="offer-catalog-tab-icon" md-font-set="material-icons">open_in_new</md-icon>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep3()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 3 Update the VNF 

            <li class="mdl-step"><!-- 4 Upgrade the VNF
                <span id="step-4" class="mdl-step__label" ng-click="toStep3()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Upgrade the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE?
                        <p>This workflow Upgrade flow. 
                            The term "Upgrade" applies when a package changes or a patch is required.
                            Restarting the VNF is required for all upgrade flows.
                            The user will select the upgrade option and select a new package to upgrade to.</p>
                        <p style="color:red">Step 4 – scene=Weaver GUI -/- SCRIPT: “To upgrade the VNF we can use the Weaver GUI. Here we go to the VNF 
                            Lifecycle tab *navigate to page* and select the button Upgrade on the VNF Instance *selects upgrade button*. The next dialog 
                            allows the user to specify a VNF Package to upgrade. Once complete the GUI shows the VNF in a Running(Upgrade In-Progress) 
                            state *views VNF card*.” This step failed in the lab previously
                        </p>
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/217629562" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <md-divider></md-divider>
                    <div class="oc-link-description">
                        <p>Click the link below to navigate see the Weaver GUI:</p>
                    </div>
                    <div class="link-wrapper" flex="50">
                        <a href="http://10.0.104.208:28200/" target="_blank">
                            <div class="link-content-wrapper" layout="row">
                                <div class="offer-catalog-icon-wrapper" layout="center center">
                                    <md-icon class="offer-catalog-icon" md-font-set="material-icons">local_offer</md-icon>
                                </div>
                                <span class="link-text">Weaver GUI</span>
                                <md-icon class="offer-catalog-tab-icon" md-font-set="material-icons">open_in_new</md-icon>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep4()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 4 Upgrade the VNF 
            
            <li class="mdl-step"><!-- 5 Roll Back the VNF 
                <span id="step-5" class="mdl-step__label" ng-click="toStep4()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Roll Back the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE? 
                        <p>When you want to roll back a VNF to its previous version you run the rollback_vnf workflow. This workflow can be run only on VNFs that were upgraded. A VNF can be rolled back to the most recent previous version only.</p>
                        <p style="color:red">This step currently did not work for this VNF, need to consult with Dean whether we can get this working or have "future demo material"</p>
                        <img class="intro-image" src="images/weaver_heal2.png" flex="50" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep5()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 5 Roll Back the VNF
            
            <li class="mdl-step"><!-- 6 Heal the VNF 
                <span id="step-6" class="mdl-step__label" ng-click="toStep5()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Heal the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE? 
                        <p>If a VNF fails, or shuts down unexpectedly, users have the option to heal the VNF. The below screenshots show some of the process of healing.</p>
                        <p style="color:red">Step 6 – scene=Weaver GUI -/- SCRIPT: “To heal the VNF we can use the Weaver GUI. Here we go to the VNF 
                            Lifecycle tab *navigate to page* and select the button Heal on the VNF Instance *selects heal button*. The next dialog allows 
                            the user to specify a VNF host to heal. Once complete the GUI shows the VNF in a Running(Heal In-Progress) state *views VNF 
                            card*.” Not sure if this step completes or not in the lab</p>
                        <img class="intro-image" src="images/weaver_heal2.png" flex="50" style="display: block; margin-left: auto; margin-right: auto;">
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/217629562" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <md-divider></md-divider>
                    <div class="oc-link-description">
                        <p>Click the link below to navigate see the Weaver GUI:</p>
                    </div>
                    <div class="link-wrapper" flex="50">
                        <a href="http://10.0.104.208:28200/" target="_blank">
                            <div class="link-content-wrapper" layout="row">
                                <div class="offer-catalog-icon-wrapper" layout="center center">
                                    <md-icon class="offer-catalog-icon" md-font-set="material-icons">local_offer</md-icon>
                                </div>
                                <span class="link-text">Weaver GUI</span>
                                <md-icon class="offer-catalog-tab-icon" md-font-set="material-icons">open_in_new</md-icon>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep6()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 6 Heal the VNF 
            
            <li class="mdl-step"><!-- 7 Start the VNF/VNFC 
                <span id="step-7" class="mdl-step__label" ng-click="toStep6()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Start/Stop the VNF/VNFC</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE? 
                        <p>The following images show options in the Weaver GUI to start a VNF which is in a Down state, and to stop a VNF which is in a Running state.</p>
                        <img class="intro-image" src="images/weaver_start.png" flex="50">
                        <img class="intro-image" src="images/weaver_stop.png" flex="50">
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/217629562" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep8()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 7 Start the VNF/VNFC 
            
            <li class="mdl-step"> 8 Stop the VNF/VNFC 
                <span id="step-8" class="mdl-step__label" ng-click="toStep7()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Stop the VNF/VNFC</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE? 
                         </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep8()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li> 
            
            <li class="mdl-step"><!-- 9 Check status of the VNF/VNFC 
                <span id="step-9" class="mdl-step__label" ng-click="toStep8()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Check status of the VNF/VNFC</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description"><!-- LEIGH DIAGRAM OF WHERE FILES GET UPLOADED TO IN FILE STRUCTURE? 
                        <p>The status of each VNF is shown on each card in the Weaver GUI.</p>
                        <ul><li>Red is a failure state</li><li>Orange is an error/down state</li><li>Blue is a running/in-progress state</li><li>Green is a running/up state</li></ul>
                        <img class="intro-image" src="images/weaver_start.png" flex="50">
                        <img class="intro-image" src="images/weaver_instant.png" flex="45">
                    </div>
                </div>
                <div class="mdl-step__actions">
                    <md-button class="blue-button" ng-click="toStep9()" data-stepper-next>
                        Continue
                    </md-button>
                </div>
            </li><!-- 9 Check status of the VNF/VNFC -->
            
            <li class="mdl-step"><!-- 10 Terminate the VNF -->
                <span id="step-10" class="mdl-step__label" ng-click="toStep9()">
                    <span class="mdl-step__title">
                        <span class="mdl-step__title-text">Terminate the VNF</span>
                    </span>
                </span>
                <div class="mdl-step__content">
                    <div class="step-description">
                        <p>This workflow instantiates the Microblog VNF. Watch the video below to see how to Instantiate the VNF.</p>
                        <p style="color:red">Step 2 – scene=Weaver GUI -/-SCRIPT: “To instantiate a VNF we can use the Weaver GUI. Here we go to the VNF Lifecycle tab *navigate to page* and select 
                            New VNF Instance *select button*. The next few dialogs allow the user to specify name and description of the VNF and then select the package to deploy. 
                            Once complete the GUI shows the new VNF in an Instantiating state *views VNF card*.”</p>
                        <p align="center">HINT: password is "weaver"</p>
                        <iframe src="https://player.vimeo.com/video/219824992" width="720" height="480" frameborder="0" style="display: block; margin-left: auto; margin-right: auto;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <p>Upon successful instantiation, the VNF will be displayed on the VNF Lifecycle page with options to execute other lifecycle events.</p>
					</div>
                </div>
                <div class="mdl-step__actions">
                    <div class="actions-wrapper" flex="100" layout="row">
                        <md-button class="blue-button" onclick="navigateToPage('home_weaver.html')">
                            Finish
                        </md-button>
                    </div>
                </div>
            </li><!-- 10 Terminate the VNF -->
        </ul>

        <!-- Javascript Libraries -->
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        <!-- Material Design Lite JS -->
        <script src="js/material.min.js"></script>

        <!-- MDL Stepper component -->
        <script src="js/stepper.min.js"></script>

        <!-- Syntax Highlighting -->
        <script src="js/prism.js"></script>

        <!-- Custom js for use2 -->
        <script src="js/stepper-global.js"></script>
        <script src="js/use2_weaver.js"></script>
        <script src="js/stepper-services.js"></script>
    </body>
</html>
