<md-dialog id="sys-health-dialog">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Weaver Health Status</h2>
    
    	<div ng-if="!services" style="height:80px" layout="column" layout-align="center center">
    		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
    	</div>
    	<div layout="row" class="alert alert-danger" ng-if="serverError" style="margin-bottom: 0;">
		     <span ng-bind="serverError"></span>
		</div>
    	<div class="service" ng-repeat="service in services">
	        <span class="sys-health-service-name">{{withoutUnderscores(service.service_id)}}</span>
		    <ul>
		        <li ng-repeat="instance in service.instances" class="sys-health-service-instance">
		        	<span>{{instance.url}}</span>
		        	<span class="sys-health-status-text" ng-class="instance.statusConfig.colourClass">{{instance.statusConfig.text}}</span>
		        </li>
		    </ul>
	    </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="dismiss()">Close</md-button>
    </md-dialog-actions>
</md-dialog>